@font-face {
    font-family: 'CabinBold';
    src: url('../fonts/cabin-bold-webfont.eot');
    src: url('../fonts/cabin-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cabin-bold-webfont.woff') format('woff'),
         url('../fonts/cabin-bold-webfont.ttf') format('truetype'),
         url('../fonts/cabin-bold-webfont.svg#CabinBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinRegular';
    src: url('../fonts/cabin-regular-webfont.eot');
    src: url('../fonts/cabin-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cabin-regular-webfont.woff') format('woff'),
         url('../fonts/cabin-regular-webfont.ttf') format('truetype'),
         url('../fonts/cabin-regular-webfont.svg#CabinRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RokkittRegular';
    src: url('../fonts/rokkitt-webfont.eot');
    src: url('../fonts/rokkitt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rokkitt-webfont.woff') format('woff'),
         url('../fonts/rokkitt-webfont.ttf') format('truetype'),
         url('../fonts/rokkitt-webfont.svg#RokkittRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

*{
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	border-collapse: collapse;
	font: inherit;
	font-size: 1em;
}
/*----- Clear Fixes -----*/
.clearfix{
	display: inline-block;
	display: block;
}
.clearfix:after{
	visibility: hidden;
	display: block;
	clear: both;
	height: 0;
	font-size: 0;
	line-height: 0;
	content: ".";
}

body {
	background: #131313 url('../img/main-bg.jpg') no-repeat top center;
	font-family: CabinRegular, Helvetica, Arial, sans-serif;
  }

#wrapper {
	width: 430px;
	margin: 0px auto 0px auto;
}

#logo {
	width: 291px;
	margin: 30px auto 0px auto 
}

#me {
	position: absolute;
	width: 296px;
	margin: 0px 0px 0px -200px 
}

#bubble {
	position: absolute;
	float:left;
	width: 350px;
	height: 128px;
	background: url('../img/bubble.png') no-repeat top left;
	margin: 30px 0px 0px 50px;
	padding: 20px 35px 20px 40px
}

#bubble h2 {
	font-family: CabinBold, Helvetica, Arial, sans-serif;
	color: #0f7f84;
	font-size: 1.1em;
	margin: 0px 0px 8px 0px;
}

#bubble p {
	font-family: CabinRegular, Helvetica, Arial, sans-serif;
	color: #686868;
}

#bar {
	position: absolute;
	margin: 226px 0px 0px 70px;
	width: 405px;
}

#bar p {
	font-family: RokkittRegular, Helvetica, Arial, sans-serif;
	color: #686868;
	font-size: 1.1em;
	float:left;
	margin: 18px 15px 0px 0px;
}

p .emphasis {
	text-decoration: underline;
}

#bar ul {
	margin: 4px 0px 0px 0px;
}

#bar li {
	float:left;
	list-style: none;
	margin: 0px 0px 0px 5px;
}

#plus {
	width: 54px;
	height: 55px;
	background: url('../img/icon_sprite.png') no-repeat 0 0;
	overflow:hidden;
	text-indent: -1000px;
}

#twitter {
	width: 54px;
	height: 55px;
	background: url('../img/icon_sprite.png') no-repeat -55px 0;
	overflow:hidden;
	text-indent: -1000px;	
}

#dribbble {
	width: 54px;
	height: 55px;
	background: url('../img/icon_sprite.png') no-repeat -109px 0;
	overflow:hidden;
	text-indent: -1000px;	
}